{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static "shop/style.css" %}">
</head>
<body>
  <form method="post" action="{% url "add_admin" %}">
    {% csrf_token %}
    <input id="input-1" type="text" placeholder="John Doe" required autofocus name="username-input" />
    <label for="input-1">
      <span class="label-text">Username</span>
      <span class="nav-dot"></span>
      <div class="signup-button-trigger">Add Admin</div>
    </label>
    <input id="input-2" type="text" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required name="password-input"  />
    <label for="input-2">
      <span class="label-text">password</span>
      <span class="nav-dot"></span>
    </label>
    <button type="submit">Create Your Account</button>
    <p class="tip">Back!</p>
    <div class="signup-button">Add Admin</div>
  </form>
  
  {% load sweetify %}
  {% sweetify %}

</body>
</html>